@import '../modules/_variables.scss';

table {
    font-family: $font-roboto;

    td {
        text-align: center;
        font-size: .9em;
    }

    th {
        text-align: center;
        font-size: .9em;
    }
}
